*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    background: #151719;
    position: relative;
    min-height: 100%;
}
hr{
    background: #2c3e50;
}
.navbar .navbar-nav .nav-item{
    padding-right: 3.5rem;
}
.navbar .navbar-nav .nav-item a{
    font-size: 1.05rem;
    font-weight: 500;
    color: #95a5a6;
}
.navbar button{
    background: #6163ff;
    padding: 0.1rem 1.7rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    color: #e7e8ee;
}
.mid h1{
    color: #eceded;
    font-weight: 900;
}
.mid h1 span{
    color: #5658d0;
}
.mid p{
    width: 60%;
    font-size: 1.4rem;
    font-weight: 400;
    color: #97a4ae;
    word-spacing: .1rem;
}
.mid .row-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mid .row-btn button{
    background: #6163ff;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    color: #e7e8ee;
    margin: 0 0.6rem;
}
.mid .row-btn button{
    background: #6163ff;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    color: #e7e8ee;
    margin: 0 0.6rem;
}
.mid .row-btn button:nth-child(2){
    background: #25282c;
    color: #e7e8ee;
}
body > header > div > h1.text2{
    font-weight: 900;
    font-size: 3rem;
    color: #e7e8ee
}

.features .row .one img{
    background: #5658DD;
    color: #fff;
    border-radius: 50px;
}
.features .row .one h3{
    color: #eceded;
    font-weight: 700;
}
.features .row .one p{
    color: #eceded;
    font-weight: 500;
    font-size: 1.1rem;
}

.about h1{
    font-weight: 900;
    font-size: 3rem;
    color: #e7e8ee;
}
.about p{
    color: #97a4ae;
    font-weight: 400;
    font-size: 1.3rem;
}
body > section.about > div > div.content> h6{
    color: #5658dd;
    font-weight: 600;
    font-size: 0.9rem;
}
body > section.about > div > div.content> h2{
    font-weight: 900;
    font-size: 2.2rem;
    color: #e7e8ee;
}
.feedback h1{
    font-weight: 900;
    font-size: 3rem;
    color: #e7e8ee;
}
.feedback p{
    color: #97a4ae;
    font-weight: 400;
    font-size: 1.3rem;
}
.feedback .row div i{
    color: #6163ff;
    font-size: 2rem;
}
.feedback .row div p{
    color: #97a4ae;
    font-weight: 500;
    font-size: 1.1rem;
}
.feedback .row div h4{
    font-weight: 700;
    font-size: 1.1rem;
    color: #eceded;
}
.feedback .row div h4 span{
    color: #1cb58a;
}
.feedback .row div{
    background: #25282c;
    padding: 1rem 1.7rem;
    color: #fff;
}

.sub{
    background: #5658dd;
    padding: 4rem 3.3rem;
}
.sub .row h2{
    font-weight: 900;
    font-size: 2.2rem;
    color: #eceded;
}
.sub .row input{
    width: 30%;
    border-style: none;
    outline: none;
    padding: 0.9rem 1rem;
    border-radius: 3px;
}

.footer{
    position: absolute;
    /* bottom: 0; */
}